<!-- First Parallax Section -->
<div class="jumbotron paral paralsec">
  <h1 class="display-3 text-black">The Gift of Life Foundation</h1>
  <p class="lead"></p>

</div>

<!-- Second Parallax Section -->
<div class="jumbotron paral paralsec1">
  <h1 class="display-3">Here is a heading 2</h1>
  <p class="lead">Here is a short description 2</p>
  <p class="lead">
    <a class="btn btn-warning btn-lg btn-md" href="widgets.html" role="button">Here is a button 2</a>
  </p>
</div>

<!-- Third Parallax Section -->
<div class="jumbotron paral paralsec2">
  <h1 class="display-3">Here is a heading 3</h1>
  <p class="lead">Here is a short description 2</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg btn-md" href="themes.html" role="button">Here is a button 3</a>
  </p>
</div>

<!-- Add More Parallax Sections Here -->
