<nav class="navbar bg-light navbar-expand-lg bg-body-tertiary ">
  <div class="container ">
    <a class="navbar-brand ps-5" href="#"> <img class="" style="height: 80px;" src="../../../assets/images/Logo-2.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-center navFontSize" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 me-2">
        <li class="nav-item text-white">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact US</a>
        </li>


      </ul>

      <button class="btn btn-outline-success" type="submit">Donate</button>

    </div>
  </div>
</nav>
