<nav class="navbar bg-light navbar-expand-lg bg-body-tertiary bg-black ">
  <div class="container ">
    <div class="collapse navbar-collapse d-flex justify-content-center navFontSize " id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 me-2 ">
        <li class="nav-link active text-white">© Copyrights 2023</li>
        <li class="nav-item">

          <a class="nav-link active text-white" aria-current="page" href="#"><i class="bi bi-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="bi bi-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="bi bi-twitter"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="bi bi-linkedin"></i></a>
        </li>


      </ul>



    </div>
  </div>
</nav>
